---
import "@fontsource-variable/montserrat";
import '@fontsource-variable/mulish';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="My Star-Up es una idea de negocio donde se ofrecen servicios de diseño y desarrollo web y asesorías"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark light;
  }
  html {
    font-family: 'Mulish Variable', system-ui, sans-serif;
  }
  p {
    font-family: 'Mulish Variable';
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat Variable";
  }
</style>
